* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: chocolate;
}

.card {
  width: 700px;
  background: #ccc;
  margin: 20px;
  padding: 20px;
  font-family: sans-serif;
  line-height: 28px;
}

/* Scroll Bar */
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  border-radius: 100px;
}
